.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 50px 80px;
  gap: 10px;
}

.item {
  background-color: cadetblue;
  padding: 10px;
}

.subContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3px;
}

.subitem {
  background-color: brown;
  padding: 8px;
}
